.navbar {
    padding: 10px 20px;
    background-color: #ec3f00ce;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links a{
    margin: 0 10px;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
}